{% extends "layout2.html" %}

{% block content %}


    <h2 class="titulo">Evalucaion</h2>
    <div class="evaluacion">
        <form action="">
			<div class="radio">
				<h2>Evidencia los propósitos de aprendizaje en correspondencia con el programa analítico (en términos de conocimientos, habilidades y actitudes/valores)</h2>
				<input type="radio" name="p1" value="1" id="p1.1">
				<label for="p1.1">1</label>
		
				<input type="radio" name="p1" value="2" id="p1.2">
				<label for="p1.2">2</label>
		
				<input type="radio" name="p1" value="3" id="p1.3">
                <label for="p1.3">3</label>

                <input type="radio" name="p1" value="4" id="p1.4">
				<label for="p1.4">4</label>
		
				<input type="radio" name="p1" value="5" id="p1.5">
				<label for="p1.5">5</label>
		
				<input type="radio" name="p1" value="0" id="p1.0">
                <label for="p1.0">No Aplica</label>
            </div>
            <input type="submit" value="Iniciar Sesión">
        </form>
    </div>
{% endblock %}