<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UG Evaluacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/FCMF.ico') }}" type="imagen/x-icon">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <main>
        
        {% block content%}
        {% endblock %}
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Ubicacion</h4>
                <p>Victor Manuel Rendón entre Av. Baquerizo Moreno y Av. Cordova </p>
                <h4>Telefono</h4>
                <p>(04) 239-6881
                </p>
                <h4>Sitio Web</h4>
                <a href="http://www.fcmf.ug.edu.ec/">fcmf.ug.edu.ec</a>
                <div class="redes-container">
                    <ul>
                        <li><a href="https://www.facebook.com/fcmf.ug/" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/fmatemat_ug" class="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCb1HmL8MD05nI1mXRQO0IFQ" class="youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="content-foo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d498.36270047447704!2d-79.88217918189771!3d-2.1909609831693695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6e78ed452d45%3A0xc5de025aa4a94c77!2sUniversidad%20De%20Guayaquil!5e0!3m2!1sen!2sus!4v1597086599536!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <h2 class="titulo-final">Creado por Edwin Castillo | Matthew Cornejo</h2>
        <h2 class="titulo-final">&copy;2020. Derechos Reservados UG Evaluacion</h2>
    </footer>
    
</body>
</html>